backend/db.sqlite3
backend/manager/__pycache__/__init__.cpython-38.pyc
backend/manager/__pycache__/settings.cpython-38.pyc
backend/manager/__pycache__/urls.cpython-38.pyc
backend/manager/__pycache__/wsgi.cpython-38.pyc
backend/Repo/__pycache__/__init__.cpython-38.pyc
backend/Repo/__pycache__/admin.cpython-38.pyc
backend/Repo/__pycache__/apps.cpython-38.pyc
backend/Repo/__pycache__/models.cpython-38.pyc
backend/Repo/migrations/__pycache__/__init__.cpython-38.pyc
backend/Repo/migrations/__pycache__/0001_initial.cpython-38.pyc
